

#playerInfo, #gameArea{
	height: 100vh;
}
#playerInfo{
	width: 25%;
	background-color: pink;
	float: left;
}

#gameArea{
	width: 75%;
	float: left;
	background-color: lightblue;
}
.squareContainer{
	height: 100%;
}

.square{
	height: 33%;
	width: 33%;
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
}
.highlighted{
	border: 3px solid red;
}